name: Lint

on:
  push:
  pull_request:
  schedule:
    - cron: '10 21 * * 0'

permissions:
  contents: read

jobs:
  rubocop:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4
          bundler-cache: true
      - name: Run RuboCop
        run: bundle exec rubocop
